import { WebWorker, bootstrapWorker, OnWorkerInit } from 'angular-web-worker';
/// <reference lib="webworker" />

@WebWorker()
export class <%= classify(name) %>Worker implements OnWorkerInit {

    constructor() {}

    onWorkerInit() {

    }

}
bootstrapWorker(<%= classify(name) %>Worker);
